<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // dom 操作
        // 增删改查
        // 1.创建元素
        // 2.插入元素
        // 3.删除元素
        // 4.修改元素
        // 5.获取元素
        // 6.获取元素的属性
        // 7.设置元素的属性
        // 8.获取元素的样式
        // 9.设置元素的样式
        // 10.获取元素的子元素
        // 11.设置元素的子元素
        // 12.获取元素的父元素
        // 13.设置元素的父元素
        // 14.移除元素
        // 15.判断元素是否存在
        // 16.判断元素是否为空
        // 17.判断元素是否为文本节点
        // 18.判断元素是否为元素节点
        // 19.判断元素是否为文档节点
        // 20.判断元素是否为文档类型节点
        
        var dom = document.createElement('div');
        div.innerHTML='ABC';
        document.body.appendChild(dom);
        //
    </script>
</body>
</html>